.contactMe_container {
    background-color: var(--nav-color);
    color: aliceblue;
    padding: 1rem;
}

.contactMe_data_links {
    display: flex;
    justify-content: start;
    padding-left: 4rem;
}

.contactMe_data_links a {
    color:white;
    text-decoration: none;
    text-transform: capitalize;
}

.contactMe_data_links a:hover {
    color: var(--light-color);
}

@media only screen and (max-width: 800px){
    .contactMe_data_links {
        flex-direction: column;
        align-items: center;
    }
}